.btn-primary{

}
.row{
margin-top: 10px;
}

#added_tracks{
	margin-top: 5px;
max-height: 60vh;
overflow-y: scroll;
}

.added_construct td {
	width: 23%;
}

#playlist_pannel{
	width: 100%;
	height: 200px;
	background-color: #000000;
}

#history ul{
	padding: 0;
}
